/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;

// Large desktops
$screen-xl-hero-2-min: 1350px;

// Colors
$white: #fff;
$black: #000;

$infrared: #FE5F55;
$infraredDark: #DB281D;
$infraredLight: #FF938C;
$nightCobalt: #495867;
$nightCobaltDark: #2A3036;
$nightCobaltDark: #62768A;
$blueprint: #577399;
$blueprintDark: #405572;
$blueprintLight: #7DA5DB;
$mist: #BDD5EA;
$mistDark: #9EB3C5;
$mistLight: #D9EAF8;
$stoneSilver: #93A8AC;
$ghost: #E9E9F0;
$ghostDark: #ADB5BD;
$ghostLight: #F7F7FF;
