/* =============
    Footer
============= */
.footer {
	background: $nighcobalt;
	padding: 50px 0;

	.address {
		line-height: 1.5;
		border-bottom: 1px solid $blueprint;
		padding-bottom: 20px;
		a {
			font-size: rem-calc(12);
			text-decoration: none;
			color: $mist;
		}

		&:last-child {
			border: none;
		}
	}

	h1,
	h2 {
		color: $mist;
		font-weight: 400;
	}

	h1 {
		font-size: rem-calc(20);
	}

	h2 {
		font-size: rem-calc(16);
	}

	.icon {
		color: $mist;
	}

	address {
		color: $mist;
		font-size: rem-calc(12);
	}

	.newsletter {
		form input {
			padding: 20px;
		}
		button {
			padding: 5px 10px;
			border: none;
			background: $blueprint;
		}
	}

	.social-icon a {
		font-size: 26px;
		color: white;
		padding: 0 5px 0 0;

		&:hover {
			color: $mist;
		}
	}
}